.recovery-component {
  padding: 10px;
  width: 22%;

  .header {
    font-size: 2.5em;
    font-weight: 600;
    color: darkslategray;
  }

  .sub-header {
    font-size: 2em;
    font-weight: 500;
    color: darkslategray;
  }

  .recovery-form {
    width: 100%;
    display: flex;
    flex-direction: column;

    .recovery-form-buttons {
      margin-top: 10px;
    }
  }
}