@import './shared/style/globals.scss';

.App {
  text-align: center;
  background-color: $background-color;

  .app-container {
    display: flex;
    flex-direction: row;

    .menu {
      flex-grow: 1;
      min-width: 20%;
      background-color: lightslategray;

      @media only screen and (max-width: 1300px) {
        min-width: auto;
        flex-grow: 0;
      }
    }

    .app-content {
      flex-grow: 4;
      height: 100vh;
      font-size: 1.3em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .app-title {
        color: darkslategray;
        font-size: 2.5em;
      }

      .auth-buttons {
        display: flex;
        flex-direction: column;
        width: 25%;
        * {
          margin-top: 0.8em;
        }
      }
    }
  }
}
