@import './shared/style/globals.scss';

.App {
  text-align: center;
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  /*.menu {
    flex-grow: 1;
    min-width: 20%;

    @media only screen and (max-width: 768px) {
      flex-grow: 0;
      position: absolute;
      height: 100vh;
    }
  }*/

  .app-container {
    flex-grow: 4;
    overflow: auto;

    .app-content {
      height: 100vh;
      font-size: 1.3em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .app-title {
        color: darkslategray;
        font-size: 2.5em;
      }

      .auth-buttons {
        display: flex;
        flex-direction: column;
        width: 15em;
        * {
          margin-top: 0.8em;
        }
      }
    }
  }
}
