.settings-container {
    margin: auto; /*auth component is a flex*/
    width: 45%;

    @media only screen and (max-width: 768px) {
        width: 95%;
    }

    .header {
        font-size: 4em;
        font-weight: 600;
        color: darkslategray;
        text-align: left;
        margin: 0.5em 0;
    }
    
    .form-container {
        border: 1px solid slategray;
        padding: 5em 6em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em auto;

        form {
            width: 100%;
            .form-buttons {
                margin-top: 4em;
            }
        }

        .title {
            font-size: 3em;
            color: darkslategray;
            font-weight: 600;
        }
    }
}