.login-component {
  padding: 10px;
  width: 22%;
  
  .header {
    color: darkslategray;
    
    .title {
      font-size: 2.5em;
      font-weight: 600;
    }

    .sub-title {
      font-size: 2em;
      font-weight: 500;
    }
  }

  .login-form {
    width: 100%;

    .form-fields {
      display: flex;
      flex-direction: column;

      .auth-buttons {
        *:nth-child(1) {
          margin-top: 10px;
        }
        
        .brk-line {
          margin: 25px 0;
          border-color: whitesmoke;
        }

        .links {
          margin: 10px 0 0 0;
          a {
            font-size: 1.5em;
            font-weight: 600;
            color: cornflowerblue;
            text-decoration: none;
          }
        }
      }
    }
  }
}