.login-component {
  padding: 10px;
  width: 22%;
  
  .login-form {
    width: 100%;

    .form-fields {
      display: flex;
      flex-direction: column;

      .auth-buttons {
        * {
          margin: 10px 0 0 0;
        } 
      }
    }
  }
}