.verification-component {
    .verification-status {
        font-size: 18pt;
        font-weight: 600;
        padding: 50px;
    }
    .redirection-message {
        font-size: 13pt;
        font-weight: 350;
    }
}